body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#skeleton {
  min-width: 600px;
  max-width: 800px;
  width: 75%;
}

#login {
  width: 100%;
}

#login .title {
  font-size: 2.5em;
  color: #739EEF;
  text-align: center;
  margin-bottom: 1.5em;
  text-shadow: 1px 1px 1px #2A65DA;
}

#notice {
  height: 450px;
  overflow-y: scroll;
}

#login .ant-form {
  margin: 0 auto;
  max-width: 500px;
}

#main {
  min-height: 800px;
  width: 75%;
  min-width: 600px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

#main .ant-form {
  padding: 16px 24px;
}

#main b {
  background-color: #FF7875;
}

#main b,
#main b span {
  color: #FFFFFF;
}

#preparation {
  padding: 16px 24px;
  height: 910px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#step {
  padding: 20px;
}

#step .introduce {
  margin:  20px 0;
}

#dashboard {
  flex: 1;
  padding: 16px 24px;
}

#dashboard .chart {
  height: 350px;
  max-width: 752px;
  min-width: 552px;
}

#dashboard .data {
  display: flex;
  margin-top: 16px;
}

#dashboard .describe {
  flex: 1;
}

#dashboard .option {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dashboard .option .keep-btn {
  color: #FFFFFF;
  border-color: transparent;
  background-color: #D4B106;
}

#dashboard .option .ant-row:not(:last-of-type) {
  margin-bottom: 24px;
}

#dashboard .option .input-label {
  font-size: 14px;
  line-height: 32px;
  margin-left: 10px;
}

#dashboard .option .ant-input-number {
  width: 75px;
}

#question .question-radio {
  display: flex;
  align-items: center;
  justify-content: center;
}

#question .question-radio > label {
  margin-right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: inline-flex;
  align-items: center;
}

#question .question-head {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(181, 200, 234, 0.7);
}

#question .question-column:nth-of-type(2n + 1) {
  background-color: rgba(181, 200, 234, 0.3);
}

#question .ant-form-item-label {
  padding: 0 0 16px;
  line-height: 2;
}

#question .ant-form-item-label > label {
  font-size: 16px;
}

#practiceTest .ant-descriptions {
  margin-bottom: 1em;
}

#practiceTest .ant-form-item-has-success .ant-form-item-explain {
  color: #52C41A;
}

@media (max-width: 575px) {
  .ant-col.ant-col-offset-4 {
    margin-left: unset;
  }
}
