body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#skeleton {
  min-width: 600px;
  max-width: 800px;
  width: 75%;
}

#login {
  width: 100%;
}

#notice {
  height: 450px;
  overflow-y: scroll;
}

#login .ant-form {
  margin: 0 auto;
  max-width: 800px;
}

#main {
  min-height: 800px;
  width: 75%;
  min-width: 600px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

#main .content {
  display: flex;
}

#main .extra {
  display: flex;
  width: max-content;
  justify-content: flex-end;
}

#main .extra .ant-statistic:first-of-type {
  margin-right: 32px;
}

#main .ant-form {
  padding: 16px 24px;
}

#preparation {
  padding: 16px 24px;
  height: 910px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#step {
  padding: 20px;
}

#step .introduce {
  margin:  20px 0;
}

#dashboard {
  flex: 1;
  padding: 16px 24px;
}

#dashboard .chart {
  height: 350px;
  max-width: 752px;
  min-width: 552px;
}

#dashboard .data {
  display: flex;
  margin-top: 16px;
}

#dashboard .describe {
  flex: 1;
}

#dashboard .option {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dashboard .option .ant-row:not(:last-of-type) {
  margin-bottom: 24px;
}

#dashboard .option .input-label {
  font-size: 14px;
  line-height: 32px;
}

@media (max-width: 575px) {
  .ant-col.ant-col-offset-4 {
    margin-left: unset;
  }
}
