body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#skeleton {
  min-width: 600px;
  max-width: 800px;
  width: 75%;
}

#login {
  width: 100%;
}

#notice {
  height: 450px;
  overflow-y: scroll;
}

#login .ant-form {
  margin: 0 auto;
  max-width: 800px;
}

@media (max-width: 575px) {
  .ant-col.ant-col-offset-4 {
    margin-left: unset;
  }
}
